<div class="demo-container">
  <div class="demo">
    <div class="demo-name">Default</div>
    <ds-input>
      <input placeholder="Placeholder"/>
    </ds-input>
  </div>

  <div class="demo">
    <div class="demo-name">Input With label</div>
    <ds-input label="label">
        <input />
      </ds-input>
  </div>

  <div class="demo">
    <div class="demo-name">Input With Icon Left</div>
    <ds-input label="label">

        <input />
        <ds-icon name="phone" position="left"></ds-icon>
      </ds-input>
  </div>

  <div class="demo">
    <div class="demo-name">Input With Icon Right</div>
    <ds-input label="label">

        <input />
        <ds-icon name="phone" position="right"></ds-icon>
      </ds-input>
  </div>
</div>
