<div class="tab-demo-container">
  <ds-tabs>
    <ds-tab [title]="'Tab 1'"> Tab 1 Content </ds-tab>
    <ds-tab [title]="'Tab 2'"> Tab 2 Content </ds-tab>
    <ds-tab [title]="'Tab 3'"> Tab 3 Content </ds-tab>
    <ds-tab [title]="'Tab 4'"> Tab 4 Content </ds-tab>
  </ds-tabs>

  <ds-tabs>
    <ds-tab [titleTemplate]="tab1"> Tab 1 Content </ds-tab>
    <ds-tab [titleTemplate]="tab2"> Tab 2 Content </ds-tab>
    <ds-tab [titleTemplate]="tab3"> Tab 3 Content </ds-tab>
    <ds-tab [titleTemplate]="tab4"> Tab 4 Content </ds-tab>
  </ds-tabs>

  <ng-template #tab1> <span class="px-icons insta"></span>Insta </ng-template>
  <ng-template #tab2> <span class="px-icons sun"></span>Sun </ng-template>
  <ng-template #tab3> <span class="px-icons moon"></span> Moon </ng-template>
  <ng-template #tab4> <span class="px-icons phone"></span> Phone </ng-template>
</div>
