

<div class="carousel-demo" ds-carousel style="display: flex">
   <div class="carousel-text">Some Text .....</div>
   <div class="carousel-text">Some Text .....</div>
   <div class="carousel-text">Some Text .....</div>
   <div class="carousel-text">Some Text .....</div>
   <div class="carousel-text">Some Text .....</div>
   <div class="carousel-text">Some Text .....</div>
   <div class="carousel-text">Some Text .....</div>
   <div class="carousel-text">Some Text .....</div>
</div>



<div class="demo-container">

     <div class="demo">
        <div class="demo-name">Default</div>
        <ds-button>Default</ds-button>
     </div>

     <div class="demo">
        <div class="demo-name">Sizes</div>
        <ds-button size="sm">size="sm"</ds-button>
        <ds-button>size="mg"</ds-button>
        <ds-button size="lg">size="lg"</ds-button>
     </div>
</div>


