<div class="demo-container">
   <div class="doc-intro" bis_skin_checked="1">
      <h1>Button</h1>
      <p>Button is an extension to standard button element with icons and theming.</p>
   </div>
   <div class="demo">
      <div class="demo-name">Default</div>
      <ds-button>Default</ds-button>
      <app-code-display [code]="button"></app-code-display>
      <ds-button size="sm">size="sm"</ds-button>
      <app-code-display [code]="buttonSm"></app-code-display>
      <ds-button size="lg">size="lg"</ds-button>
      <app-code-display [code]="buttonLg"></app-code-display>
   </div>
</div>