

<div class="demo-container">
    <div class="doc-intro" bis_skin_checked="1">
        <h1>Tooltip</h1>
        <p>Some desc.</p>
    </div>
    <div class="demo">
        <div class="demo-name">Default</div>
        <div class="bny-css-tooltip tooltip-bottom" bnyCssTooltip="Title Example">
            Bny Css Tooltip Example
        </div>
        <!-- <app-code-display [code]="button"></app-code-display> -->
        <div pTooltip="Hello">Hello</div>
        <div newPopover="Hello">newPopover</div>
        <!-- <app-code-display [code]="buttonSm"></app-code-display> -->
        <!-- <app-code-display [code]="buttonLg"></app-code-display> -->
    </div>

    <div class="demo">


        <!-- Top -->
        <div appTooltip="Tooltip text" tooltipPosition="top">Hover me for top tooltip</div>

        <!-- Bottom -->
        <div appTooltip="Tooltip text" tooltipPosition="bottom">Hover me for bottom tooltip</div>

        <!-- Left -->
        <div appTooltip="Tooltip text" tooltipPosition="left">Hover me for left tooltip</div>

        <!-- Right -->
        <div appTooltip="Tooltip text" tooltipPosition="right">Hover me for right tooltip</div>

    </div>
</div>