<p>tooltip-demo works!</p>








<div class="demo-container">
    <div class="doc-intro" bis_skin_checked="1">
        <h1>Tooltip</h1>
        <p>Some desc.</p>
    </div>
    <div class="demo">
        <div class="demo-name">Default</div>
        <div class="bny-css-tooltip tooltip-bottom" bnyCssTooltip="Title Example">
            Bny Css Tooltip Example
        </div>
        <!-- <app-code-display [code]="button"></app-code-display> -->
        <div pTooltip="Hello">Hello</div>
        <div newPopover="Hello">newPopover</div>
        <!-- <app-code-display [code]="buttonSm"></app-code-display> -->
        <!-- <app-code-display [code]="buttonLg"></app-code-display> -->
    </div>
</div>