@use "../../../branding/src/assets/scss/index.scss" as *;

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: $CB0;
    background: $CP5;
    transition: background 0.3s ease;
    height: var(--header-height);

    --icon-color: #{$CB0};
    &.header-blurred {
        background: rgba(0,0,0,0.5);
        backdrop-filter: blur(5px);
    }
    

    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding-left: 24px;

        h1 {
            font-size: 24px;
        }

        .px-icons {
            cursor: pointer;
            &.hamburger {
                transition: 0.3s all ease-in-out;
            }
            &.close {
                transition: 0.3s all ease-in-out;
                transform: rotate(180deg);
            }
        }
    }

    .menu-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 24px; 
        .custom-theme {
            cursor: pointer;
        }
    }
}
