<header  class="header-container" [ngClass]="{'header-blurred': isScrolled}">
    <div class="header-logo">
      <div
        class="px-icons {{ isSideBarCollapsed ? 'close' : ' hamburger' }}"
        (click)="toggleSideBar()"
      ></div>
      <a class="header-text" href="#">
        <h1 class="design-system-text">UM DESIGN SYSTEM</h1>
      </a>
    </div>
   
    <div class="menu-wrap">
      <div routerLink="customTheme"  routerLinkActive="active" class="custom-theme">
        customTheme
      </div>
      <a href="https://github.com/udaymunasu/theme-app" target="_blank" >
      <ds-icon name="github"></ds-icon>
        
      </a>
      <app-mode-switch [modeConfig]="modeConfig"></app-mode-switch>
    </div>
</header>
