@use "../../../branding/src/assets/scss/index.scss" as *;

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: $CB1;
    background:  #e6d6ff80;
    transition: background 0.3s ease;

    height: var(--header-height);

    --icon-color: #{$CB1};
    &.header-blurred {
        background:  #e6d6ff80;
    backdrop-filter: blur(8px);

    }
    

    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding-left: 24px;

        h1 {
            font-size: 24px;
        }

        .header-text {
            text-decoration: none;
            .design-system-text {
                font-size: 24px;
                color: $CG9;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
            }
        }

        .px-icons {
           
            cursor: pointer;
            &.hamburger {
                transition: 0.3s all ease-in-out;
                --icon-color: #{$CB1};
            }
            &.close {
                transition: 0.3s all ease-in-out;
                transform: rotate(180deg);
                --icon-color: #{$CB1};
            }
        }
    }

    .menu-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 24px; 
        .custom-theme {
            cursor: pointer;
        }
    }
}
