<div class="megamenu" #rootList>
  <ng-template #headerTemplate>
    <div
      #item
      class="header"
      *ngFor="let link of menuItems"
      (mouseenter)="showPanel($event)"
    >
      <div class="px-icons {{ link.icon }}"></div>
      <div class="bny-mm-text">{{ link.label }}</div>
    </div>
  </ng-template>

  <div>

  </div>

  <ng-template #subMenuTpl let-menuItems="menuItems">

    <div
    *ngIf="isSubmenuVisible == menuItems"
    class="submenu"
  >
   <div *ngFor="let submenu of menuItems.submenu">
    <div class="px-icons {{ submenu.icon }}"></div>
    <div class="bny-mm-text">{{ submenu.label }}</div>
   </div>
  </div>

   </ng-template>

  <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
  <ng-container *ngTemplateOutlet="subMenuTpl"></ng-container>

</div>

<!-- <div
  class="bny-megamenu"
  #rootList
  (mouseenter)="showPanel($event)"
  (mouseleave)="hidePanel()"
  (click)="clickShow($event)"
>
  <div #item class="bny-megamenu-item">
    <span class="bny-mm-link">
      <div class="px-icons close"></div>
      <div class="bny-mm-text">Discovery and planning</div>
    </span>
  </div>
</div>

<div
  #menuPanel
  class="bny-megamenu-content"
  [ngClass]="{ 'hide-menu': !isMenuPanelVisible }"
  (mouseenter)="showPanel($event)"
  (mouseleave)="hidePanel()"
  style="visibility: hidden"
>
  <div class="mm-container">
    <div class="mm-column">
      <span class="bny-mm-link">
        <span class="bny-mm-text"> AdvicePath </span>
      </span>

      <span class="bny-mm-link">
        <span class="bny-mm-text"> Fashion </span>
      </span>

      <span class="bny-mm-link">
        <span class="bny-mm-text"> Trending </span>
      </span>

      <span class="bny-mm-link">
        <span class="bny-mm-text"> Reach </span>
      </span>
    </div>
  </div>
</div> -->
