.tooltip {
    position: fixed;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    z-index: 9999;
    transition: opacity 0.3s ease; /* Add a transition for smoother appearance */
}

.tooltip.top {
    transform: translateX(-50%) translateY(-100%); /* Position exactly on top of the target */
}

.tooltip.bottom {
    transform: translateX(-50%) translateY(0%); /* Position exactly below the target */
}

.tooltip.left {
    transform: translateY(-50%) translateX(-100%); /* Position exactly to the left of the target */
}

.tooltip.right {
    transform: translateY(-50%) translateX(0%); /* Position exactly to the right of the target */
}

.tooltip .tooltiptext {
    display: block;
}

.tooltip.show {
    opacity: 1; /* Show the tooltip */
}
