.show.window-flex {
    display: flex !important;
}

.show.window-block {
    display: block !important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1100;
    opacity: 0.5;
    background-color: black;
}

.modal-open {
    overflow: hidden;

    .ds-modal {
        display: none;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1500;
        -webkit-overflow-scrolling: touch;
        align-items: center;
        justify-content: center;
        outline: 0;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all 0.3s ease-in-out;

        .ds-modal__dialog {
            box-shadow: 0 0 35px 7px rgba(0, 0, 0, 0.5);
            position: absolute;
            min-width: 600px;
            min-height: 100px;
            outline: 0;
            background: white;
            max-width: calc(100% - 20px);
            max-height: calc(100% - 20px);
            transform: scale(1);
            transition: 0.3s all ease-in-out;
        }

        .ds-modal--content {
            background: white;
        }
    }
}
