@use "../../../branding/src/assets/scss/index.scss" as *;

.show.window-flex {
    display: flex !important;
}

.show.window-block {
    display: block !important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    left: 0;
    outline: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    background-color: black;
    align-items: center;
}

.modal-open {
    overflow: hidden;

    .ds-modal {
        display: none;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1500;
        -webkit-overflow-scrolling: touch;
        align-items: center;
        justify-content: center;
        outline: 0;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all 0.3s ease-in-out;

        .ds-modal__dialog {
            box-shadow: $EL2;
            position: absolute;
            min-width: 600px;
            min-height: 100px;
            outline: 0;
            background: white;
            max-width: calc(100% - 20px);
            max-height: calc(100% - 20px);
            transform: scale(1);
            transition: 0.3s all ease-in-out;

            &.side-panel {
                overflow: hidden;

                &.side-panel-opening {
                    min-width: unset;

                    &.position-left {
                        left: 0;
                        width: 0;

                        &.side-panel-loaded {
                            width: var(--side-modal-width);
                        }
                    }

                    &.position-right {
                        right: 0;
                        width: 0;

                        &.side-panel-loaded {
                            width: var(--side-modal-width);
                        }
                    }

                    &.position-top {
                        top: 0;
                        height: 0;

                        &.side-panel-loaded {
                            width: var(--side-modal-width);
                        }
                    }

                    &.position-bottom {
                        bottom: 0;
                        height: 0;

                        &.side-panel-loaded {
                            width: var(--side-modal-width);
                        }
                    }
                }
            }
        }

        .ds-modal--content {
            background: white;
        }
    }
}
