<div class="dashboard-header">Design Library</div>
<p>Explore the important dashboard lists for a construction company:</p>
<h2>GENERAL MERCHANDISE</h2>
<div class="frame" >
  <ng-container *ngFor="let item of items">
  <button  class="custom-btn btn-1">
    <a (click)="navigate(item.routerLink)" [routerLinkActive]="['is-active']">{{ item.label }}</a></button>
  </ng-container>
</div>


<!-- Footer section -->
<footer class="footer">
  <p style="font-family: Cabin Medium, Cabin">Home Builder | Web Developer</p>

  <div class="social-media">
    <a href="https://github.com/jmgconstruction"
      ><span class="social-btn"><i class="fab fa-github"></i></span
    ></a>
    <a href="https://codepen.io/jaspergementiza"
      ><span class="social-btn"><i class="fab fa-codepen"></i></span
    ></a>
    <a href="https://www.linkedin.com/in/jaspergementiza/"
      ><span class="social-btn"><i class="fab fa-linkedin"></i></span
    ></a>
  </div>
</footer>
