<h1>Construction Company Dashboard</h1>
<p>Explore the important dashboard lists for a construction company:</p>
<h2>JMG CONSTRUCTION & GENERAL MERCHANDISE</h2>
<div class="frame">
  <button class="custom-btn btn-1">Project</button>
  <button class="custom-btn btn-2">Team</button>
  <button class="custom-btn btn-3">Financial</button>
  <button class="custom-btn btn-4">Equipment</button>
  <button class="custom-btn btn-5">Resources</button>
  <button class="custom-btn btn-6">Vendor</button>
  <button class="custom-btn btn-7">Client</button>
  <button class="custom-btn btn-8">Safety</button>
  <button class="custom-btn btn-9">Documents</button>
  <button class="custom-btn btn-10">Task</button>
  <button class="custom-btn btn-11">Progress<div class="dot"></div></button>
  <button class="custom-btn btn-12">Quality</button>
  <button class="custom-btn btn-13">Inventory</button>
  <button class="custom-btn btn-14">Analytics</button>
  <button class="custom-btn btn-15">Tender Bid</button>
  <button class="custom-btn btn-16">Admin</button>
</div>
<!-- Footer section -->
<footer class="footer">
<p style="font-family: Cabin Medium, Cabin;">Home Builder | Web Developer </p>

<div class="social-media">
  <a href="https://github.com/jmgconstruction"><span class="social-btn"><i class="fab fa-github"></i></span></a>
  <a href="https://codepen.io/jaspergementiza"><span class="social-btn"><i class="fab fa-codepen"></i></span></a>
  <a href="https://www.linkedin.com/in/jaspergementiza/"><span class="social-btn"><i class="fab fa-linkedin"></i></span></a>
</div>