$inter: (
  FT1: (
    name: "Inter Thin",
    file: "inter/Inter-Thin",
    weight: "100",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT1i: (
    name: "Inter Thin Italic",
    file: "inter/Inter-Thin",
    weight: "100",
    style: "italic",
    ext: "woff",
    format: "woff",
  ),
  FT2: (
    name: "Inter Extra Light",
    file: "inter/Inter-ExtraLight",
    weight: "200",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT2i: (
    name: "Inter Extra Light Italic",
    file: "inter/Inter-ExtraLight",
    weight: "200",
    style: "italic",
    ext: "woff",
    format: "woff",
  ),
  FT3: (
    name: "Inter Light",
    file: "inter/Inter-Light",
    weight: "100",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT3i: (
    name: "Inter Light Italic",
    file: "inter/Inter-Light",
    weight: "100",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT4: (
    name: "Inter Regular",
    file: "inter/Inter-Regular",
    weight: "100",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT4i: (
    name: "Inter ExtraLight",
    file: "inter/Inter-ExtraLight",
    weight: "100",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT5: (
    name: "Inter Medium",
    file: "inter/Inter-Medium",
    weight: "500",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT5i: (
    name: "Inter Light",
    file: "inter/Inter-Light",
    weight: "500",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT6: (
    name: "Inter Semi Bold",
    file: "inter/Inter-SemiBold",
    weight: "600",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT6i: (
    name: "Inter Semi Italic",
    file: "inter/Inter-SemiBoldItalic",
    weight: "600",
    style: "italic",
    ext: "woff",
    format: "woff",
  ),
  FT7: (
    name: "Inter Bold",
    file: "inter/Inter-Bold",
    weight: "700",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT7i: (
    name: "Inter Regular Italic",
    file: "inter/Inter-Regular",
    weight: "700",
    style: "italic",
    ext: "woff",
    format: "woff",
  ),
  FT8: (
    name: "Inter Extra Bold",
    file: "inter/Inter-ExtraBold",
    weight: "100",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT8i: (
    name: "Inter Extra SemiBold Italic",
    file: "inter/Inter-SemiBold",
    weight: "100",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT9: (
    name: "Inter Black",
    file: "inter/Inter-Black",
    weight: "100",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
  FT9i: (
    name: "Inter Thin Italic",
    file: "inter/Inter-Thin",
    weight: "100",
    style: "normal",
    ext: "woff",
    format: "woff",
  ),
);
