$inter: (
  FT1: (
    name: "inter Thin",
    file: "inter/Inter-Thin",
    weight: "100",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT11: (
    name: "inter Thin italic",
    file: "inter/Inter-ThinItalic",
    weight: "100",
    style: "italic",
    ext: "woff2",
    format: "woff2",
  ),
  FT2: (
    name: "inter Extra Light",
    file: "inter/Inter-ExtaLight",
    weight: "200",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT2i: (
    name: "inter Extra Light Italic",
    file: "inter/Inter-ExtraLightItalic",
    weight: "200",
    style: "italic",
    ext: "woff2",
    format: "woff2",
  ),
  FT3: (
    name: "inter Light",
    file: "inter/Inter-Light",
    weight: "100",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT3i: (
    name: "inter Light Italic",
    file: "inter/Inter-Lightitalic",
    weight: "100",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT4: (
    name: "inter Regular",
    file: "inter/Inter-Regular",
    weight: "100",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT4i: (
    name: "inter Itlic",
    file: "inter/Inter-Italic",
    weight: "100",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT5: (
    name: "inter Thin",
    file: "inter/Inter-Thin",
    weight: "500",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT5i: (
    name: "inter Medium",
    file: "inter/Inter-Medium",
    weight: "500",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT6: (
    name: "inter Semi Bold",
    file: "inter/Inter-SemiBold",
    weight: "600",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT6i: (
    name: "inter Semi Bold Italic",
    file: "inter/Inter-SemiBoldItalic",
    weight: "600",
    style: "italic",
    ext: "woff2",
    format: "woff2",
  ),
  FT7: (
    name: "inter Bold",
    file: "inter/Inter-Bold",
    weight: "700",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT7i: (
    name: "inter Bold Italic",
    file: "inter/Inter-BoldItalic",
    weight: "700",
    style: "italic",
    ext: "woff2",
    format: "woff2",
  ),
  FT8: (
    name: "inter Extra Bold",
    file: "inter/Inter-Thin",
    weight: "100",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT8i: (
    name: "inter Extra Bold Italic",
    file: "inter/Inter-ExtraBoldItalic",
    weight: "100",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT9: (
    name: "inter Black",
    file: "inter/Inter-Black",
    weight: "100",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
  FT9i: (
    name: "inter Black Italic",
    file: "inter/Inter-BlackItalic",
    weight: "100",
    style: "normal",
    ext: "woff2",
    format: "woff2",
  ),
);
