<!-- <div class="container">
  <header>
    <div class="ds-header">
      Header
      <div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
        <div class="px-icons menu"></div>
      </div>
      <div class="ds-sub-header">Sub Header</div>
    </div>

    <div class="ds-header-action">
      
    </div>
  </header>
</div>


<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div class="sidebar-close" (click)="sidebarShow = !sidebarShow">X</div>
  <div class="sidebar-content">
    <h2>Sidebar</h2>
    <div>Home Page</div>
    <div routerLink="Icons">Icons</div>
    <div>Services</div>
    <div>Prices</div>
    <div>Downloads</div>
    <div>Contact Us</div>
  </div>
</div> -->

<!-- Side navigation -->
<div class="sidenav">
  <div class="sidenav-hedding">Sidebar</div>
  <div class="link" routerLink="header" routerLinkActive="active">Header</div>
  <div class="link" routerLink="panel" routerLinkActive="active">Panel</div>
  <div class="link" routerLink="card" routerLinkActive="active">Card</div>
  <div class="link" routerLink="Icons" routerLinkActive="active">Icon</div>
  <div class="link" routerLink="modal" routerLinkActive="active">Modal</div>
  <div class="link" routerLink="Icons" routerLinkActive="active">
    Contact Us
  </div>
</div>

<!-- Page content -->
<div class="main">
  <!-- <app-mode-switch
        *ngIf="themeConfig"
        [modeConfig]="themeConfig"
      ></app-mode-switch> -->
  <router-outlet></router-outlet>
</div>
