@use "../branding/src/assets/scss/index.scss" as *;

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;

    .content {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 10px;
    }
}

// /* Style page content */
// .main {
//     margin-left: 160px; /* Same as the width of the sidebar */
//     padding: 0px 10px;
// }
