<div class="app">
  <app-comp-header></app-comp-header>

  <div class="container">
    <div class="app-comp-sidebar">
      <app-comp-sidebar></app-comp-sidebar>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="footer">
    <p style="font-family: Cabin Medium, Cabin">Home Builder | Web Developer</p>

    <div class="social-media">
      <a href="https://github.com/jmgconstruction"><span class="social-btn"><i class="fab fa-github"></i></span></a>
      <a href="https://codepen.io/jaspergmentiza"><span class="social-btn"><i class="fab fa-codepen"></i></span></a>
      <a href="https://www.linkedin.com/in/jaspergmentiza/"><span class="social-btn"><i
            class="fab fa-linkedin"></i></span></a>
    </div>
  </footer>
</div>