@use "../branding/src/assets/scss/index.scss" as *;

.app {
    --header-height: 50px;
    app-comp-header {
        position: fixed;
        width: 100%;
        // background-color: $CP5;
        color: $CB0;
        z-index: 10000;
    }

    .container {
        display: flex;
        padding-top:100px;
        position: relative;
        right: 0%;
        height: 100%;
        left: 0%;
    
    
        .content {
            display: flex;
            flex-direction: column;
            height: 100%;
            width:100%;
            overflow-y: auto;
            max-height: calc(100% - 40px);
            padding: 0 0 0 64px;
            

            &::-webkit-scrollbar {
                width:0
            }
        }
    }
}



