<app-comp-header></app-comp-header>

<div class="container">
  <!-- <button (click)="openSidebar()">open sidebar</button> -->
  <app-comp-sidebar></app-comp-sidebar>

  <!-- <ds-dropdown [confifOptions]="{ placeholder: 'Placeholder' }">
    <ds-dropdown-item
      *ngFor="let item of items"
      [label]="item.label"
      [value]="item.value"
    >
    </ds-dropdown-item>
  </ds-dropdown> -->

 

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <!-- <app-header></app-header>
  <app-sidebar></app-sidebar> -->
</div>
