<div class="sidenav">
  <ds-header class="sidenav-header"
    >SideBar Header
    <ds-sub-header>SubHeader</ds-sub-header>
    <ds-header-action
      ><button (click)="close()">close</button></ds-header-action
    >
  </ds-header>
  <div class="sidenav-hedding">Sidebar</div>
  <div class="link" routerLink="header" routerLinkActive="active">Header</div>
  <div class="link" routerLink="panel" routerLinkActive="active">Panel</div>
  <div class="link" routerLink="card" routerLinkActive="active">Card</div>
  <div class="link" routerLink="Icons" routerLinkActive="active">Icon</div>
  <div class="link" routerLink="modal" routerLinkActive="active">Modal</div>
  <div class="link" routerLink="tabs" routerLinkActive="active">Tabs</div>
  <div class="link" routerLink="megamenu" routerLinkActive="active">
    Megamenu
  </div>
  <div class="link" routerLink="Icons" routerLinkActive="active">
    Contact Us
  </div>
</div>
