.px-select {
    .select-input-container {
    }

    .px-select-list {
        .px-select-list-wrap {
            overflow: auto;
            display: flex;
            flex-flow: column;
            background: white;
            border-radius: 4px;
            box-shadow: var(--ds-elevation-md);
            list-style: none;
            max-height: 300px;
        }
    }
}
