<div class="sidebar">
  <div *ngFor="let item of menuList" class="sidebar-panel">
    <div class="sidebar-header" (click)="selectCategory(item)">
      <span class="px-icons {{ item.expanded ? 'caret_down' : ' caret_right'}} expand-icon" ></span>


      {{ item.category }}
    </div>

    <div [ngClass]="{'sidebar-content' : true, 'expanded': item?.expanded}">
      <ul>
        <li *ngFor="let labels of item.labels"
        [routerLink]="labels.routerLink" [routerLinkActive]="['is-active']">
          <a > {{ labels.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
