/* You can add global styles to this file, and also import other style files */
@use "../src/branding/src/assets/scss/theme/palettes/blue" as *;
// @use "../src/branding/src/assets/scss/theme/fonts" as *;
@use "../src/branding/src/assets/scss/globals.scss" as *;
@use "../src/branding/src/assets/scss/index.scss" as *;

html {
    @include ds-theme($theme-blue);
    &.blue {
        @include ds-theme($theme-blue);
        .dark-mode {
            @include ds-theme($theme-dark-blue);
        }
    }
    &.purple {
        @include ds-theme($theme-blue);
        .dark-mode {
            @include ds-theme($theme-dark-blue);
        }
    }
}

.popover {
    position: absolute;
    padding: 0.25em 0.5rem;
    max-width: 12.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}

.popover-right {
    transform-origin: center left;
}

.p-tooltip {
    position: absolute;
    display: none;
    padding: 0.25em 0.5rem;
    max-width: 12.5rem;
    border: 1px solid #ccc;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.p-tooltip.p-tooltip-right,
.p-tooltip.p-tooltip-left {
    padding: 0 0.25rem;
}

.p-tooltip.p-tooltip-top,
.p-tooltip.p-tooltip-bottom {
}

.p-tooltip .p-tooltip-text {
    white-space: pre-line;
    word-break: break-word;
}

.p-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.p-tooltip-right .p-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -0.25rem;
    border-width: 0.25em 0.25em 0.25em 0;
}

.p-tooltip-left .p-tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -0.25rem;
    border-width: 0.25em 0 0.25em 0.25rem;
}

.p-tooltip.p-tooltip-top {
    padding: 0.25em 0;
}

.p-tooltip-top .p-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -0.25rem;
    border-width: 0.25em 0.25em 0;
}

.p-tooltip-bottom .p-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -0.25rem;
    border-width: 0 0.25em 0.25rem;
}

// div {
//     display: inline;
// }

// body {
//     display: inline;
// }

/* You can add global styles to this file, and also import other style files */
.sidebar {
    position: fixed;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    height: 100%;
    background-color: red;
    transition: transform 0.3s ease-in-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    /* Update: Transition based on left property */

    &.sidebar-left {
        top: 0;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    &.sidebar-right {
        top: 0;
        right: 0;
    }

    &.sidebar-top {
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }

    &.sidebar-bottom {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }


}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
