/* You can add global styles to this file, and also import other style files */
@use "../src/branding/src/assets/scss/theme/palettes" as *;
@use "../src/branding/src/assets/scss/theme/fonts" as *;
@use "../src/branding/src/assets/scss/globals.scss" as *;
@use "../src/branding/src/assets/scss/index.scss" as *;

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

// @import 'assets/showcase/styles/layout/layout.scss';


body,
html {
    margin: 0;
    padding: 0;
    list-style: none
}

html {
    @include ds-theme($theme-purple);

    .dark-mode {
        @include ds-theme($theme-dark-purple);
    }

    &.blue {
        @include ds-theme($theme-blue);

        .dark-mode {
            @include ds-theme($theme-dark-blue);
        }
    }

    &.purple {
        @include ds-theme($theme-purple);

        .dark-mode {
            @include ds-theme($theme-dark-purple);
        }
    }
}


// pre
