@use "../index.scss" as *;

@mixin ag-grid {
    .ag-cell {
        display: flex;
        align-items: center;
        line-height: normal;


        
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: $CG2;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $CG6;
        border-radius: 8px;;
    }
}


