@use "../index.scss" as *;

@mixin panel {
    .px-panel {
        width: 100%;
        font-size: 14px;
        display:flex;
        background: white;
        border: 1px solid lightblue;
        gap: 16px;
        flex-direction: column;

        &.px-panel--card {
            border-radius: 4px;
            padding: 16px;
            box-shadow: 0px 0px 6px 0px $CG4 0px 0px 6px 0px $CG4 0px 0px 6px 0px $CG4;
        }
    }
}
