@use "../index.scss" as *;

@mixin tooltip {
    .bny-css-tooltip {
        position: relative;

        &::before {
            content: "";
            width: 12px;
            height: 12px;
            z-index: 999;
            display: none;
            position: absolute;
            background-color: aqua;
        }

        &::after {
            z-index: 999;
            color: black;
            display: none;
            max-width: 350px;
            line-height: 10px;
            padding: 10px;
            width: max-content;
            position: absolute;
            text-align: center;
            word-wrap: break-word;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 400;
            content: attr(bnyCssTooltip);
            background-clip: padding-box;
            background-color: grey;
            transition: all 0.3s ease-in-out 0.5s;
        }

        &:hover {

            &::before,
            &::after {
                display: block;
            }
        }

        &.tooltip-top {
            &::before {
                top: 0;
                left: 50%;
                transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
            }

            &::after {
                top: 0;
                left: 50%;
                transform: translate(-50%, calc(-100% - 10px));
            }
        }

        &.tooltip-left {
            @extend .tooltip-top;

            &::before,
            &::after {
                left: 20%;
            }
        }

        &.tooltip-top-right {
            @extend .tooltip-top;

            &::before,
            &::after {
                left: 80%;
            }
        }

        &.tooltip-bottom {

            // @extend .tooltip-top;
            &::before {
                bottom: 0;
                left: 50%;
                transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
            }

            &::after {
                bottom: 0;
                left: 50%;
                transform: translate(-50%, calc(100% + 10px));
            }
        }

        &.tooltip-right {
            @extend .tooltip-top;

            &::before {
                top: 50%;
                right: 0;
                transform: translate(calc(100% + 5px), -50%) rotate(45deg);
            }

            &::after {
                top: -50%;
                right: 0;
                transform: translate(calc(100% + 10px));
            }
        }

        &.tooltip-left {
            @extend .tooltip-top;

            &::before {
                top: 50%;
                right: 0;
                transform: translate(calc(-100% - 5px), -50%) rotate(45deg);
            }

            &::after {
                top: -50%;
                right: 0;
                transform: translate(calc(-100% + 10px));
            }
        }
    }


    .popover {
        position: absolute;
        padding: 0.25em 0.5rem;
        max-width: 12.5rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background: #fff;
        border-radius: 5px;
        padding: 10px;
    }

    // .popover-right {
    //     transform-origin: center left;
    // }

    .p-tooltip {
        position: absolute;
        display: none;
        padding: 0.25em 0.5rem;
        max-width: 12.5rem;
        border: 1px solid #ccc;
        font-size: 14px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background: #fff;
        border-radius: 5px;
        padding: 10px;
        display: none;
    }

    // .p-tooltip.p-tooltip-right,
    // .p-tooltip.p-tooltip-left {
    //     padding: 0 0.25rem;
        
    // }

    // .p-tooltip.p-tooltip-top,
    // .p-tooltip.p-tooltip-bottom {}

    // .p-tooltip .p-tooltip-text {
    //     white-space: pre-line;
    //     word-break: break-word;
    //     padding:8px;
    // }

    // .p-tooltip-right .p-tooltip-arrow {
    //     top: 50%;
    //     left: 0;
    //     margin-top: -0.25rem;
    //     border-width: 0.25em 0.25em 0.25em 0;
    // }

    // .p-tooltip-left .p-tooltip-arrow {
       
    // }

    // .p-tooltip.p-tooltip-top {
    //     padding: 0.25em 0;
    // }

    // .p-tooltip-top .p-tooltip-arrow {
    //     bottom: 0;
    //     left: 50%;
    //     margin-left: -0.25rem;
    //     border-width: 0.25em 0.25em 0;
    // }

    // .p-tooltip-bottom .p-tooltip-arrow {
    //     top: 0;
    //     left: 50%;
    //     margin-left: -0.25rem;
    //     border-width: 0 0.25em 0.25rem;
    // }
}