$theme-blue: (
    base-0:     #ffffff,
    base-1:     #000000,

    primary-1:  #edf6fc,
    primary-2:  #bdc3c7,
    primary-3:  #17191c,
    primary-4:  #0f8ec7,
    primary-5:  #04689d,
    primary-6:  #005b8f,

    gray-1:     #fcfcfd,
    gray-2:     #dadadc,
    gray-3:     #58595b,
    gray-4:     #101010,
    
    success:    #36a739,
    error:      #c00000,
    caution:    #f4bd0c,
    ingo:       #1a4499,
);


$theme-dark-blue: (
    base-0:     #000000,
    base-1:     #ffffff,

    primary-1:  #005b8f,
    primary-2:  #04689d,
    primary-3:  #0f8ec7,
    primary-4:  #17191c,
    primary-5:  #bdc3c7,
    primary-6:  #edf6fc,

    gray-1:     #fcfcfd,
    gray-2:     #58595b,
    gray-3:     #dadadc,
    gray-4:     #101010,
    
    success:    #36a739,
    error:      #c00000,
    caution:    #f4bd0c,
    ingo:       #1a4499,
);