$theme-purple: (
    base-0:     #ffffff,
    base-1:     #000000,

    primary-1:  #f5f0ff,
    primary-2:  #ebe2fd,
    primary-3:  #DAC7FA,
    primary-4:  #C5A4F4,
    primary-5:  #B886EE,
    primary-6:  #7101DA,
    primary-7:  #540099,
    primary-8:  #30004D,
    primary-9:  #2C003D,
    primary-10: #1F0029,


    gray-1:     #fcfcfd,
    gray-2:     #F7F7F8,
    gray-3:     #F0F0F2,
    gray-4:     #E4E3E8,
    gray-5:     #D7D6DC,
    gray-6:     #898792,
    gray-7:     #57535F,
    gray-8:     #433F4B,
    gray-9:     #322E38,
    gray-10:    #1A151E,

    
    success-1:    #F0FFF4,
    success-2:    #6EEC90,
    success-3:    #2AA74B,
    success-4:    #21833B,

    error-1:      #FBF4F4,
    error-2:      #FF8D85,
    error-3:      #F84C3F,
    error-4:      #CA362B,

    caution-1:    #FFFBED,
    caution-2:    #FFDC5C,
    caution-3:    #D57907,
    caution-4:    #B06100,

    info-1:       #EBF2FA,
    info-2:       #6BB5FF,
    info-3:       #2A8CEF,
    info-4:       #2A69A8,

);


$theme-dark-purple: (
    base-0:     #000000,
    base-1:     #ffffff,

    primary-1:  #005b8f,
    primary-2:  #04689d,
    primary-3:  #0f8ec7,
    primary-4:  #17191c,
    primary-5:  #bdc3c7,
    primary-6:  #edf6fc,

    gray-1:     #fcfcfd,
    gray-2:     #58595b,
    gray-3:     #dadadc,
    gray-4:     #101010,
    
    success:    #36a739,
    error:      #c00000,
    caution:    #f4bd0c,
    ingo:       #1a4499,
);