@use './theme-globals' as *;

$box-shadow-sm: $CP3 0px 2px 4px 0px, $CP3 0px 2px 4px 0px;
$box-shadow-md: $CP3 0px 2px 6px 0px, $CP3 0px 2px 6px 0px;
$box-shadow-lg: $CP3 0px 2px 8px 0px, $CP3 0px 2px 8px 0px;