<div class="header-demo-container">

    <div class="header-demo">
        <div class="header-name">Header without sub header line/sepeartor</div>
        <ds-header [size]="'sm'">Tax Transition Scenario Planning
        </ds-header>
     </div>

    

     <div class="header-demo">
        <div class="header-name">Header without sub header line/sepeartor</div>
        <ds-header  [size]="'md'">Tax Transition Scenario Planning
        </ds-header>
     </div>

     <div class="header-demo">
        <div class="header-name">Header without sub header line/sepeartor</div>
        <ds-header [size]="'lg'">Tax Transition Scenario Planning
        </ds-header>
     </div>


    <div class="header-demo">
        <div class="header-name">Header without line/sepeartor</div>
        <ds-header>Tax Transition Scenario Planning
            <ds-sub-header>Run a tax transition for an existing or new accout</ds-sub-header>
            <ds-header-action>Action</ds-header-action>
        </ds-header>
    </div>

    <div class="header-demo">
        <div class="header-name">Header with line/sepeartor</div>
        <ds-header [seperator]="true">Tax Transition Scenario Planning
            <ds-sub-header>Run a tax transition for an existing or new accout</ds-sub-header>
            <ds-header-action>Action</ds-header-action>
        </ds-header>
     </div>
</div>