<div class="container">
  <ds-input>
    <input placeholder="Search icons..." (keyup)="searchInput($event)" />
    <ds-icon name="search" position="right"></ds-icon>
  </ds-input>
  <div class="Icons-wrapper">
    <div *ngFor="let icon of filterIconData" (click)="copyCode(icon.category)">
      <span class="px-icons">{{ icon.category }}</span>

      <div class="icons-container">
        <ng-container *ngFor="let iconName of icon.icons">
          <div
            class="bny-css-tooltip tooltip-bottom"
            bnyCssTooltip="{{ iconName.name }}"
          >
            <div class="icon">
              <ds-icon [name]="iconName.name"></ds-icon>
              <span>{{ iconName.name }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <span *ngIf="copyStatus" class="copy-status" @fadeIn @fadeOut>{{
    copyStatusMsg
  }}</span>
</div>
